node_modules/
vendor/
.env
.env.*
.env.bak*
.idea/
.vscode/
storage/
dist/
*.sqlite
public/hot
public/storage

# Electron
electron/node_modules/
electron/dist/
electron/build/backend.zip
electron/build-electron.log

